<%
    let linkUrl = params.link;
    let linkText = params.link;
    let imageName = 'external-link.png';

    if (linkUrl.match(' ')) {
        linkUrl = linkUrl.slice(0, linkUrl.indexOf(' '));
        linkText = linkText.slice(linkText.indexOf(' ') + 1);

        if (params.fancy) {
            if (linkText == 'Ancestry') {
                imageName = 'logo-ancestry.png';
                linkText = '';
            } else if (linkText == 'FamilySearch') {
                imageName = 'logo-familysearch.png';
                linkText = '';
            } else if (linkText == 'FindAGrave') {
                imageName = 'logo-findagrave.png';
                linkText = '';
            }
        }
    }
%>

<% if (params.fancy) { %>
    <div class="fancy-link">
        <a href="<%= linkUrl %>" target="_blank">
            <img src="/images/<%= imageName %>"><%= linkText %>
        </a>
    </div>
<% } else { %>
    <a href="<%= linkUrl %>" target="_blank"><%= linkText %></a>
<% } %>
