<h1>Events</h1>

<table border="1">
    <tr>
        <th>title</th>
        <th>date</th>
        <th>location</th>
        <th>people</th>
        <th>notes</th>
    </tr>
    <% database.events.forEach(event => { %>
        <%
        %>
        <tr>
            <td>
                <%= event.title %>
            </td>
            <td>
                <%= event.date %>
            </td>
            <td>
                <%= event.location %>
            </td>
            <td>
                <%= event.people %>
            </td>
            <td>
                <%= event.notes %>
            </td>
        </tr>
    <% }); %>
</table>
