<h1>Events</h1>

<table class="event-list">
    <tr>
        <th>title</th>
        <th>date</th>
        <th>location</th>
        <th>people</th>
        <th>notes</th>
    </tr>
    <% database.events.forEach(event => { %>
        <%
        %>
        <tr>
            <td>
                <%= event.title %>
            </td>
            <td>
                <%- include('./partials/formatDate', { params: {
                    date: event.date,
                }}) %>
            </td>
            <td>
                <%- include('./partials/formatLocation', { params: {
                    location: event.location,
                }}) %>
            </td>
            <td>
                <% event.people.forEach(person => { %>
                    <p>
                        <%- include('./partials/linkToPerson', { params: {
                            person: person,
                        }}) %>
                    </p>
                <% }); %>
            </td>
            <td>
                <%= event.notes %>
            </td>
        </tr>
    <% }); %>
</table>
